In [4]:
#importing the dependencies
import numpy as np
import pandas as pd
file_path = r"C:\Users\MRIDUL\Desktop\ML\credit_data.csv"
credit_card_data = pd.read_csv(file_path)
credit_card_data.tail()
# 0 = legit 1 = fraud

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
#distribution of the two classes
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [9]:
#this is highly imbalanced dataset
# 0 = legit 1 = fraud

In [11]:
#seperating the 0 and 1
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [13]:
print(fraud.shape)
print(legit.shape)

(492, 31)
(284315, 31)

In [17]:
#Under-Sampling
# build a sample dataset containing similar distribution of legit and fraudlent 
#Number of fraud = 492

legit_sample = legit.sample(n=492)
legit_sample.shape

(492, 31)

In [18]:
# we need to concatanate the two dataframes frauds and legits
new_dataset = pd.concat([legit_sample,fraud], axis = 0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
177188,123075.0,-7.538352,0.493970,-2.795285,-2.378819,-5.755612,-0.450948,-2.915417,3.789714,-1.524501,...,0.050772,-0.084673,-1.301612,-0.028921,0.705402,-0.073001,0.181569,-0.243805,152.65,0
129399,79072.0,1.172831,0.035906,0.471890,0.470300,-0.376310,-0.234474,-0.226020,0.170105,0.021417,...,-0.196325,-0.647635,0.172156,-0.030662,0.061139,0.112236,-0.026778,0.002044,1.98,0
27587,34612.0,1.093295,0.033482,0.250488,1.225333,0.007897,0.332571,-0.034601,0.169648,0.113238,...,-0.060350,-0.052356,-0.133491,-0.297398,0.653182,-0.311351,0.027896,0.006276,35.00,0
143707,85559.0,-2.712804,-0.299122,1.994833,3.360611,0.065985,0.624887,-0.820633,0.691563,-0.756508,...,-0.071768,-0.199944,-0.645680,0.081954,-0.060503,0.075309,-0.900986,-0.406267,0.00,0
142589,84810.0,1.196019,0.107996,0.728786,0.663989,-0.639284,-0.781827,-0.106257,-0.190440,0.129761,...,0.035528,0.142634,-0.036195,0.447233,0.366357,0.340797,-0.012823,0.026314,27.76,0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64